@font-face {
  font-family: 'Rubik';
  src: local('Rubik'), url(~assets/fonts/Rubik-Regular.ttf) format('truetype')
}

$main-bg: #0F1215;
$empty-bg: #0B1729;
$main-color: #ffffff;

body {
  background-color: $main-bg;
  color: $main-color;
}
.page-enter-active, .page-leave-active {
  transition: opacity .5s;
}
.page-enter, .page-leave-active {
  opacity: 0;
}